services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"

  node-backend:
    build:
      context: ./node-backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"

  java-backend:
    build:
      context: ./maven-archetype-webapp
      dockerfile: Dockerfile
    ports:
      - "9090:8080"
